*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-menu{
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(../asset/img/bg2.jpg);
}

.array-container{
    background-color:#ecf0f384 ;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
    border: 1px solid rgb(215, 212, 212);
    border-radius: 6px;
}

.array-input{
    text-align: center;
    width: 160px;
    padding: 0 30px;
    border-radius: 4px;
    border: none;
    background-color: #ECF0F3;
    box-shadow:
    inset -5px -5px 10px #d0cece52,
    inset 10px 10px 10px #9898a820;
    border: solid 1px rgba(0, 0, 0, 0.019);
}

.arrray-display-container{
    width: 720px;
    margin-left: 30px;
    font-size: 18px;
    display: flex;
    background-color: #e5f9f1;
    border-radius: 4px;
    border: 1px solid #b0e8cf;
}

.array-input-btn{
    border: none;
    padding: 0 5px;
    position: relative;
    border-radius: 6px;
    background-color: #007BFF;
    color: white;
    width: 70px;
}

.array-input-btn:focus{
    outline: none;
}

.array-input-btn::after{
    position: absolute;
    right: 3px;
    top: 1px;
    transform: translateX(100%);
    content: "";
    width: 0;
	height: 0;
	border-top: 24px solid transparent;
	border-left: 24px solid #007BFF;
	border-bottom: 24px solid transparent;
}

.array-display{
    display: inline-block;
    padding: 10px;
    height: auto;
    width: 90%;
    flex-grow: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

#deleteArr{
    display: inline-block;
    line-height: 48px;
    padding: 0 10px;
    color: #5abd88;
    cursor: pointer;
}

.nav-pills{
    width: 30%;
    padding: 20px 18px;
    background-color: #ecf0f394;
    box-shadow: 3px 1px 10px -1px #c9c8c8;
    position: absolute;
    top: 130px;
    bottom: 0;
}

.nav-link{
    display: block;
    width: 298px;
    height: 40px;
    overflow: hidden;
}

.nav-pills .nav-link{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 4px;
    flex-shrink: 0;
    color: black;
}

.nav-pills .nav-link + .nav-link{
    margin-top: 10px;
}

.tab-content{
    margin-top: 18px;
    height: 530px;
    /* background-image: url(../asset/img/bg2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    padding: 30px;
    padding-left: 355px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 8px;
    border: 1px solid rgb(215, 212, 212);
}

.ex-heading{
    padding-left: 10px;
    margin-bottom: 20px;
}

.ex-input__item{
    padding: 4px 8px;
    margin-right: 10px;
    margin-top: 10px;
}

.ex-input{
    margin-bottom: 20px;
}

.drop-down-input{
    border: 1px solid rgb(209, 208, 208);
    padding: 4px 10px;
    border-radius: 4px;
    appearance: none;
}

.ex-request{
    padding: 20px;
    border-left: 4px solid #E9594C;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}

.ex-request ul{
    list-style: none;
}

.ex-handler{
    padding: 20px;
    border-left: 4px solid #3E84E5;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgba(255, 255, 255, 0.522);
}

.ex-result{
    padding: 20px;
    margin-top: 20px;
    border-left: 4px solid #3BC279;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgba(255, 255, 255, 0.522);
}

.ex-result__content{
    border: 1px solid #b0e8cf;
    padding: 10px;
    background-color:#e5f9f1 ;
}

.ex-result__content p + p{
    margin-top: 10px;
}

.ex-result-show{
    width: 100%;
}

#ex-result-text{
    min-height: 26px;
    margin: 0;
}